:root {
  --dark-blue: 232, 55%, 47%;
  --blue: 207, 96%, 35%;
  --creme: 42, 75%, 75%;
  --orange: 35, 97%, 55%;
  --red: 10, 96%, 55%;
}

* {
  border-radius: 10px;
  font-family: roboto, calibri;
  color: hsl(var(--dark-blue));
  scroll-behavior: smooth;
  border-width: 5px;
  margin: 0;
}

::placeholder {
  color: hsl(var(--blue));
}

#FWapp {
  margin: 1%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#FWheader {
  display: flex;
  justify-content: space-between;
}

#FWlogo {
  width: 10%;
}

#FWheading {
  font-family: serif;
  font-size: 10vw;
  color: hsl(var(--red));
  margin: auto 2%;
}

#FWworld-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#FWsearchbox,
button {
  background-color: #fff;
  box-shadow: 0 0 5px hsl(var(--blue));
  padding: 1%;
  font-size: 1.5em;
  border-color: hsl(var(--dark-blue));
}

#FWsearchbox {
  box-sizing: border-box;
  width: 100%;
}

#FWnavbar {
  display: flex;
  gap: 1%;
  flex-wrap: wrap;
}

#FWnavbar > .sort {
  font-family: FontAwesome;
  margin: 1% 0;
}

#FWnavbar > .sort:hover {
  background-color: hsl(var(--creme));
}

#FWnavbar > .sort.asc,
.sort.desc {
  background-color: white;
}

#FWnavbar > .sort:after {
  content: " \f0dc";
}

#FWnavbar > .sort.asc:after {
  content: " \f0de";
}

#FWnavbar > .sort.desc:after {
  content: " \f0dd";
}

#FWresults,
#FWsupport,
#FWsidebar {
  border-style: solid;
}

#FWsupport {
  background-color: hsl(var(--orange), 50%);
  box-shadow: 0 0 5px hsl(var(--creme));
  border-color: hsl(var(--red));
  padding: 1%;
  text-align: center;
}

#FWresults {
  box-shadow: 0 0 5px hsl(var(--blue));
  border-color: hsl(var(--dark-blue));
  padding: 0 2%;
  margin: 0;
}

#FWresults > li {
  list-style-type: none;
  margin: 2% 0;
}

#FWtoggle {
  box-shadow: 0 0 5px hsl(var(--blue));
  display: flex;
  justify-content: space-between;
  border-style: solid;
  padding: 1%;
  gap: 2%;
}

#FWtoggle:hover {
  background-color: hsl(var(--creme));
}

#FWtitle {
  flex: 1;
  margin: auto;
}

#FWinstall {
  float: left;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#FWinstall-dropdown,
#FWtoggle-symbol {
  color: hsl(var(--dark-blue));
  background-color: transparent;
  box-shadow: none;
  border-style: none;
  font-size: 2em;
  padding: 2px;
}

#FWinstall-buttons {
  display: none;
  position: absolute;
}

#FWinstall-buttons button {
  padding: 10%;
  width: 150%;
  text-align: center;
}

#FWinstall:hover #FWinstall-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  transform: translateX(-2em);
}

#FWinstall-world,
#FWinstall-module {
  cursor: copy;
}

#FWtoggle > #FWtoggle-symbol {
  cursor: auto;
}

#FWdetails {
  display: flex;
  padding: 2% 0;
  gap: 1em;
}

#FWdescription {
  flex: 3;
  padding-left: 0.5%;
}

#FWdescription > * {
  font-family: sans-serif;
  line-height: 1.5;
  color: hsl(var(--blue));
}

#FWsidebar {
  background-color: hsl(var(--orange), 50%);
  box-shadow: 0 0 5px hsl(var(--creme));
  border-color: hsl(var(--red));
  flex: 1;
  height: min-content;
  padding: 1%;
}

#gotoTop {
  display: none;
  position: fixed;
  bottom: 2%;
  right: 1%;
  z-index: 99;
  cursor: pointer;
  background-color: #fff;
  border-width: 5px;
}

#gotoTop:hover {
  background-color: hsl(var(--creme));
}

@media screen and (max-width: 1200px) {
  #FWheader {
    flex-wrap: wrap;
    gap: 0.5em;
  }

  #FWheading {
    font-size: 8vw;
    width: 80%;
    text-align: center;
  }

  #FWsupport {
    width: 100%;
  }

  #FWresults {
    border-style: none;
    box-shadow: none;
    margin: -2% 0;
    padding: 0;
  }

  #FWdetails {
    flex-direction: column-reverse;
  }

  #FWinstall-buttons button {
    transform: translateX(-25%);
  }
}

@media screen and (min-width: 2000px) {
  #FWworld-list {
    margin: 0 20%;
  }

  #FWsupport {
    font-size: 1vw;
  }
}
